<h1>Blog post</h1>

<div class="container">
    <div id="New post" class=card text-black invisible">
        <div class="card-header">
            <h5> Create post </h5>
            <button type="button" id="exitCreate" class="btn-close bg-light" aria-label="Close"></button>
        </div>
        class="card-body">
        <form id="CreateBlog">
            <div class="mb-3 mx-2 text-start text-dark">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" name="title">
            </div>
            <div class="mb-3 mx-2 text-start text-dark">
                <label for="content" class="form-label">Content</label>
                <textarea type="text" class="form-control" name="content"></textarea>
            </div>
            <button type="submit" class="btn btn-primary w-25">Create</button>
        </form>
    </div>
</div>
</div>
</div>
<script src="/js/newPost.js"></script>